<%= form_for(@telefone_cliente) do |f| %>
  <% if @telefone_cliente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@telefone_cliente.errors.count, "error") %> prohibited this telefone_cliente from being saved:</h2>

      <ul>
      <% @telefone_cliente.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ddd %><br>
    <%= f.text_field :ddd %>
  </div>
  <div class="field">
    <%= f.label :telefone %><br>
    <%= f.text_field :telefone %>
  </div>
  <div class="field">
    <%= f.label :Cliente_id %><br>
    <%= f.text_field :Cliente_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
