<p id="notice"><%= notice %></p>

<h1>Listing Contas Recebers</h1>

<table class="table table-stripped">
  <thead>
    <tr>
      <th>Dataemissao</th>
      <th>Valor</th>
      <th>Vencimento</th>
      <th>Juros</th>
      <th>Multa</th>
      <th>Cliente</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contas_recebers.each do |contas_receber| %>
      <tr>
        <td><%= contas_receber.dataEmissao %></td>
        <td><%= contas_receber.valor %></td>
        <td><%= contas_receber.vencimento %></td>
        <td><%= contas_receber.juros %></td>
        <td><%= contas_receber.multa %></td>
        <td><%= contas_receber.Cliente %></td>
        <td><%= link_to 'Show', contas_receber %></td>
        <td><%= link_to 'Edit', edit_contas_receber_path(contas_receber) %></td>
        <td><%= link_to 'Destroy', contas_receber, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contas receber', new_contas_receber_path %>
