<h1><i class="fa fa-credit-card"></i>Contas a Receber</h1>

<% if notice.present? then %>
  <p id="notice" class=" alert alert-info"><%= notice %></p>
<% end %>

<%= link_to fa_icon('user-plus', text: "Nova Conta a Pagar"), 
  new_contas_receber_path, :class => "btn btn-success" %>

<table class="table table-stripped">
  <thead>
    <tr>
      <th>Cliente</th>
      <th>Dataemissao</th>
      <th>Valor</th>
      <th>Vencimento</th>
      <th>Juros</th>
      <th>Multa</th>
      <th>Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @contas_recebers.each do |contas_receber| %>
      <tr>
        <td><%= contas_receber.Cliente.nome %></td>
        <td><%= contas_receber.dataEmissao %></td>
        <td><%= contas_receber.valor %></td>
        <td><%= contas_receber.vencimento %></td>
        <td><%= contas_receber.juros %></td>
        <td><%= contas_receber.multa %></td>
        <td>
          <%= link_to fa_icon('eye'), contas_receber, :class => "btn btn-default",  "data-toggle" => "tooltip","data-placement" => "top", :title => "Ver mais dados" %>
          <%= link_to fa_icon('pencil-square-o'), edit_contas_receber_path(contas_receber) , :class => "btn btn-default",  "data-toggle" => "tooltip","data-placement" => "top", :title => "Editar" %>
          <%= link_to fa_icon('times'), contas_receber, method: :delete, data: { confirm: 'Você tem certeza que quer apagar uma conta a receber?'}, :class => "btn btn-danger",  "data-toggle" => "tooltip","data-placement" => "top", :title => "Excluir" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>