<p id="notice"><%= notice %></p>

<p>
  <strong>Dataemissao:</strong>
  <%= @contas_pagar.dataEmissao %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @contas_pagar.valor %>
</p>

<p>
  <strong>Vencimento:</strong>
  <%= @contas_pagar.vencimento %>
</p>

<p>
  <strong>Juros:</strong>
  <%= @contas_pagar.juros %>
</p>

<p>
  <strong>Multa:</strong>
  <%= @contas_pagar.multa %>
</p>

<p>
  <strong>Fornecedor:</strong>
  <%= @contas_pagar.Fornecedor %>
</p>

<%= link_to 'Edit', edit_contas_pagar_path(@contas_pagar) %> |
<%= link_to 'Back', contas_pagars_path %>
