<!DOCTYPE html>
<% url = request.fullpath %>
<html>
<head>
  <title>LMDA software</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to fa_icon('home',text: "LMAD Software") , root_path, :class =>"navbar-brand"%>
    </div>

     <% if  url == new_contas_receber_path || url == then %>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <ul class="nav navbar-nav navbar-left">
        <li <%= url == clientes_path || url == fornecedors_path || url == contas_pagars_path || url == contas_recebers_path ? 'class=active' : '' %>>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Lista <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Cliente', clientes_path %></li>
            <li><%= link_to 'Fornecedor', fornecedors_path %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to 'Contas a Pagar', contas_pagars_path %></li>
            <li><%= link_to 'Contas a Receber', contas_recebers_path %></li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-left">
        <li <%= url == new_cliente_path || url == new_fornecedor_path || url == new_contas_pagar_path || url == new_contas_receber_path ? 'class=active' : '' %>>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cadastro <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Cliente', new_cliente_path %></li>
            <li><%= link_to 'Fornecedor', new_fornecedor_path %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to 'Contas a Pagar', new_contas_pagar_path %></li>
            <li><%= link_to 'Contas a Receber', new_contas_receber_path %></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-rigth">
        <li><%= link_to 'Sair', destroy_usuario_session_path, method: :delete %></li>
      </ul>
    </div>
    <% end %>

  </div>
</nav>

<div class="corpo">
  <% if alert.present? then %>
    <div class="notice"><%= notice %></div>
  <% end %>
  <% if alert.present? then %>
    <div class="alert"><%= alert %></div>
  <% end %>
	<%= yield %>
</div>
</body>
</html>
